# Root EditorConfig file (do not look for more configurations)
root = true

# General formatting for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Specific rules for Markdown files
[*.md]
trim_trailing_whitespace = false

# Specific rules for YAML and JSON files
[*.yml]
indent_size = 2

[*.json]
indent_size = 2